body {
  height: 100%;
  width: 100%;
  background-color: #130118;
}

.thought-input {
  width: 50%;
  height: 90%;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  padding: 2%;
  font-family: 'Roboto', sans-serif;
  font-size: 105%;
  overflow: auto;
  background-color: #ffffff;
  box-sizing: border-box; /* prevent the textarea from cutting off any text */
  background-color: #1d0424;
  text-decoration: none;
  resize: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 600px) {
  .thought-input {
    width: 60%; /* set the width of the textarea to 100% of the viewport width on mobile devices */
    height: 100%; /* set the height of the textarea to 100% of the viewport height on mobile devices */
  }
}

.thought-input:focus {
  outline: none;
}

.thought-input:placeholder {
  color: #c0c0c0; /* Light gray color */
  font-style: italic;
  text-shadow: 1px 1px #000000; /* Shadow */
}

.chatbot-icon-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.chatbot-icon-container.show {
  display: block;
}

.chatbot-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
